extends deps/layout.pug

block scripts
    script(type="text/javascript" src="js/cart.js")

block heading-background
    div(id="heading-bg" style="background-color: #207c51; width: 100%; height: 400px;")

block heading-contents

block page-contents
    h1.center Cart
    #cart.hidden
        .cart(v-if="checkout && checkout.lineItems.length > 0" style = "margin-bottom: 32px;")
            .row(v-for="item in checkout.lineItems")
                .cart-item.clearfix
                    a(:href="`/item?${checkoutData[item.title].id}`")
                        .col-3
                            .img(:style="{backgroundImage: `url(${checkoutData[item.title].image})`}")
                    .col-9
                        .details
                            a(:href="`/item?${checkoutData[item.title].id}`")
                                h1(style="display: inline;") {{item.title}}
                            br
                            span(v-if="checkoutData[item.title].subscription && item.customAttributes.length > 0") {{item.customAttributes[0].value}}
                            span(v-else) {{`$${item.variant.price} x ${item.quantity} lb`}}
                            h2.h1(style="float: right") {{`$${(parseFloat(item.variant.price) * item.quantity).toFixed(2)}`}}
                        button.red(@click="removeItem(item.id, item.title)") Remove

            .row
                .col-3
                .col-9
                    h1.f-left Total
                    h2.h1(style="float: right") {{`$${checkout.totalPrice}`}}

            div.center(style="margin-top: 32px;")
                a.button(:href="checkout.webUrl" style="margin-right: 8px; display: inline-block") Checkout
                button.red(style="display: inline-block;" @click="clearCart") Clear Cart
        
        div(v-else).center
            p There are currently no items in your cart!
            p
                | Visit the 
                a(href="/shop") shop
                |  to add some.